services:
  games-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: dev-games-frontend-r3f
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - dev-network

networks:
  dev-network:
    external: true
